{
  "plugins": [["relay", { "artifactDirectory": "./src/__generated__" }]],
  "presets": [
    ["@babel/preset-env", {
      "exclude": ["transform-typeof-symbol"],
      "targets": {
        "ios": 8
      }
    }],
    "@babel/preset-stage-1",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
