{
  "plugins": [
    ["relay", {
      "artifactDirectory": "./src/__generated__"
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@styled-system/babel-plugin"]
  ],
  "presets": ["module:metro-react-native-babel-preset", "@emotion/babel-preset-css-prop"]
}
